.navigation {
    font-size: 20px;
    background-color: hsl(0deg 0% 95%);
    padding: 10px;
    margin: 3px;
}

.navigation__list {
    list-style: none;
    padding-left: 0;
}

.navigation__item {
    margin: 5px;
}

.navigation__link {
    text-decoration: none;
    color: rgb(2, 85, 85);
}

.navigation__link:hover {
    color: rgb(0, 63, 180);
}

.navigation__link:active {
    text-decoration: underline;
    border-width: 1px;
    padding: 4px;
}
